  @charset "UTF-8";
  body {background-color: rgb(17, 213, 30); font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 20px;}

        h1{
            color: rgb(38, 165, 55);
        }
        h2{
            color: darkred;
            background-color: blueviolet;
        }
        p {
            font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);
            text-align: justify;
        }