@charset "UTF-8";
body{
    font-family: Arial, Helvetica, sans-serif;
text-align: justify;
margin: 0px 100px 0px 100px;


}

h1{
    text-align: center;
}
header {
  background-image: linear-gradient(to top,#166494, #28acfe);
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  text-align: ;
  
}
header > p{
    text-align: center;
}
@font-face {
    font-family:'ethnocentric' ;
    src: url('Ethnocentric-Regular.otf') format('opentype');
}
.titulo2{
    font-family: 'ethnocentric';
    background-image: linear-gradient(to right, #94D7F2, white
    );
}
.destaque{
    font-weight: bold;
    
}

.lista{
    display: flex;
    gap: 40px;

}
header > a{
    a:hovert
}
nav > a {
    font-weight: bold;
}
nav > a:hover{
    background-color: #94D7F2;
    padding: 5px;
    border-radius: 5px;
    transition-duration: .2s;
}

.imagem{
    display: flex;
    justify-content:center ;
}
.video{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to top, #0E3659,#26658C );
    box-shadow:  0 8px 20px rgba(0,0,0,0.15);
    padding: 20px;
}
.link{
    background-color:#BBE8F2 ;
}

.boxlist{
    background-color: #67acc7;
    box-shadow:  0 8px 20px rgba(0,0,0,0.15);
}
.boxlist > h2{
    background-color: #3D9DD9;
}
.colorb{
 background-color: rgb(248, 246, 246);
 padding: px;
}
.rodap{
    text-align: center;
    background-color: black;
    color: white;
    padding: 0,5px;
    margin: 0px;
}