
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');






*{
    margin: 0px;
    padding: 0px;

}
html, body{
    font-family: var(--fonte1);
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte2);


}

header > h1{
    padding-top: 50px;
    font-family: "Passion One", sans-serif;
    font-size: 5vw
    ;

}

header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;

}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
    
    
}

section > p{
    font-family: "Indie Flower", cursive;
}

section.normal{
    background-color: white;
    color: black;

}

section.imagem{
    background-color: rgb(41, 41, 41);
    color: white;

}

section.imagem > p {
    display: inline-block;
    padding: 5px;

    background-color: rgba(0, 0, 0, 0.258)

}








footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}

